<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        header {
            display: flex;
            justify-content: center;
            padding: 2rem 0;
        }

        header > nav {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
        }

        main {
            text-align: center;
        }
    </style>
</head>
<body>
    <main>
        <h1>404 page not found</h1>
    </main>
</body>
</html>